<footer class="footer-custom text-white text-center py-4 mt-auto">
  <div class="container">
    <p class="mb-2">&copy; 2025 VegBasket. All rights reserved.</p>
    <p class="mb-1 fw-semibold">
      Developed by <span class="text-info">Muskan Chouksey</span> | Freelance Web Developer
    </p>
    <div class="d-flex flex-row flex-nowrap justify-content-center align-items-center gap-2 mb-2">
      <a href="mailto:muskanchouksey666@gmail.com" class="footer-link">Email</a>
      <span class="text-white">|</span>
      <a href="https://github.com/muskan579" class="footer-link" target="_blank">GitHub</a>
      <span class="text-white">|</span>
      <a href="https://www.linkedin.com/in/muskan-chouksey-77985a28b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="footer-link" target="_blank">LinkedIn</a>
    </div>
  </div>
</footer>




